{
  "presets": [
    "react",
    "es2015",
    [ "env", {
      "targets": {
        "browsers": "> 2%"
      }
    }]
  ],

  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
