{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "arrow-body-style": "off",
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "max-len": 0,
    "comma-dangle": 0,
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "indent": ["warn", "tab", { "SwitchCase": 1 }],
    "no-debugger": 0,
    "no-console": [
      "error",
      {
        "allow": ["debug"]
      }
    ],
    "new-cap": 0,
    "strict": 2,
    "prefer-rest-params": 0,
    "no-unused-vars": 1,
    "no-self-assign": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-extra-boolean-cast": 0,
    "eol-last": 2,
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/prop-types": 0,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
