doctype html
html
    head
        title React Carousel
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width initial-scale=1")
        link(type="text/css", rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")

        if(production)
            link(rel="stylesheet", type="text/css", href="static/carousel.css")
    body
        #carousel
        script(src="/static/index.js")