$clr-base: #e0e4fb;
$clr-blue: #465798;
$clr-darkred: darkred;

$transition-time: .3s;
$play-btn-color: #fff;


.alice-carousel {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 60px;
    margin: auto;
}

.alice-carousel__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    border: solid 1px rgba($clr-blue, .3)
}

.alice-carousel__stage {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    box-sizing: border-box;
    &-item {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        line-height: 0;
        * {
            line-height: initial;
        }
        &.__cloned {
            opacity: 0;
            visibility: hidden;
        }
    }
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    top: 50%;
    transform: translateY(-50%);
    color: lighten($clr-blue, 15%);
    cursor: pointer;
    font-size: 1.9em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid lighten($clr-blue, 15%);
    transition: $transition-time ease;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    &:hover {
        color: $clr-darkred;
        border: 1px solid $clr-darkred;
    }
    &.__inactive {
        opacity: .4;
    }
}

.alice-carousel__prev-btn-item {
    left: 0;
    &:after { content: '\02039' }
}

.alice-carousel__next-btn-item {
    right: 0;
    &:after { content: '\0203A' }
}

.alice-carousel__play-btn {
    display: inline-block;
    position: absolute;
    bottom: 90px;
    left: 80px;
    transform: scale(.8);
    &:hover { cursor: pointer }
}

.alice-carousel__play-btn-item {
    cursor: pointer;
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 30px;
    outline: none;
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 8px 0 8px 15px;
        border-left-color: $play-btn-color;
        width: 0;
        height: 0;
        transition: all $transition-time linear;
    }
    &::before { height: 16px; }
    &::after {
        left: 15px;
        top: 8px;
    }
    &.__pause {
        &::before,
        &::after {
            border-width: 0 0 0 10px;
            height: 30px;
        }
        &::after {
            left: 18px;
            top: 0;
        }
    }
}

.alice-carousel__dots {
    position: absolute;
    display: inline-block;
    margin: auto;
    padding: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    &-item {
        display: inline-block;
        width: 8px;
        height: 8px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $clr-base;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &:hover,
        &.__active {
            background-color: lighten(#465798, 15%);
        }
    }
}

@import 'fade-animation';
