.carousel {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 60px;
    margin: auto;
}
.carousel-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid red;
    background-color: #555;
    overflow: hidden;

}
.carousel-stage {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    box-sizing: border-box;

    &__item {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }
}
.carousel-prev__btn,
.carousel-next__btn {
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    color: $clr-base;
    cursor: pointer;
    font-size: 1.9em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $clr-base;
    transition: .3s ease;
    &:hover {
        color: darkred;
        border: 1px solid darkred;
    }
}
.carousel-prev__btn {
    left: 0;
    &:before {
        content: '\02039';
        display: inline-block;
        height: 100%
    }
}
.carousel-next__btn {
    right: 0;
    &:before {
        content: '\0203A';
        display: inline-block;
        height: 100%
    }
}
.carousel-dots {
    position: absolute;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    &__item {
        display: inline-block;
        width: 8px;
        height: 8px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $clr-base;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &:hover,
        &.__active {
            background-color: $clr-blue;
        }
    }
}
