.carousel {
    box-sizing: border-box;
    position: relative;
    width: 1170px;
    padding: 60px;
    margin: auto;
}
.carousel-stage {
    position: relative;
    background-color: $clr-blue;
    height: 200px;
    z-index: 5;
    cursor: pointer;
}

.carousel-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.carousel-nav__left,
.carousel-nav__right {
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    color: $clr-base;
    cursor: pointer;
    font-size: 1.9em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $clr-base;
    transition: .3s ease;
    &:hover {
        color: $clr-blue;
        border: 1px solid $clr-blue;

    }
}
.carousel-nav__left {
    left: 0;
    &:before {
        content: '\02039';
        display: inline-block;
        height: 100%
    }
}
.carousel-nav__right {
    right: 0;
    &:before {
        content: '\0203A';
        display: inline-block;
        height: 100%
    }
}

.carousel-dots {

    position: absolute;
    text-align: center;
    margin: 15px auto;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    &__item {
        display: inline-block;
        width: 8px;
        height: 8px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $clr-base;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &:hover,
        &.__active {
            background-color: $clr-blue;
        }
    }


}
