@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import 'carousel';

#carousel {
    min-height: 100vh;
    padding: 60px;
    color: #2c2f3e;
    font-family: OpenSans, sans-serif;
}

.h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
    flex: 1;
}
