@import 'alice-carousel';


#carousel {
    min-height: 100vh;
    padding: 60px;
    color: $clr-blue;
    font-family: OpenSans, sans-serif;
}
.app {
    max-width: 800px;
    margin: auto;
}

.h1 {
    text-align: center;
    font-size: 1.5em;
    flex: 1;
}


.item {
    color: red;
    background-color: $clr-blue;
    height: 170px;
    margin: 5px;
    h1 {
          margin: 0;
          height: 100%;
          text-align: center;
          color: #fff;
          &:before {
              content: '';
              display: inline-block;
              height: 100%;
              vertical-align: middle;
          }
      }
}

.alice-carousel__stage-item:nth-child(odd) .item {
  background-color: #008B8B;
}
