@import '~highlight.js/styles/github.css';
@import '../../common';

.alice-carousel__wrapper {
	border: solid 1px rgba($color-dark, 0.3);
}

li.alice-carousel__dots-item.__custom {
	vertical-align: middle;
	cursor: pointer;
	padding: 5px;
}

.thumbs {
	max-width: 500px;
	margin: 30px auto;
	padding: 0 100px;
	position: relative;

	.btn-prev,
	.btn-next {
		position: absolute;
		top: 25px;
		font-size: 50px;
		color: $color-bg;
		cursor: pointer;
	}
	.btn-prev {
		left: 25px;
	}
	.btn-next {
		right: 25px;
	}
}

.alice-carousel__stage-item.__active {
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: solid 1px transparent;
		transition: border 0.8s;
	}
}

.alice-carousel__stage-item.__target {
	&:after {
		border: solid 1px rgba($color-dark-lighten, 0.8);
	}
}

.thumb,
.thumb > .item {
	width: 200px;
	height: 100px;
}

.item {
	height: 200px;
	padding: 2px;
	box-sizing: border-box;
	font-size: 0;
	color: transparent;
	&:before {
		content: attr(data-value);
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		font-weight: 300;
		user-select: none;
		color: $color-light;
		background-color: $color-bg;
	}
	&-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
}

.link {
	display: block;
	height: 200px;
	padding: 3px;
	position: relative;
	z-index: 1;

	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}
