@import "../../common";

.header {
  width: 100%;
  min-width: $content-min-width;
  background-color: $color-dark-lighten;
  &-row {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: $color-light;
  text-align: left;
  user-select: none;
  margin: 0;
  font-style: italic;
  display: inline-block;

  &-badge {
    color: $color-light;
    font-size: 1rem;
  }
}

.repo-link {
  color: $color-light;
  text-decoration: none;
  line-height: 16px;
  display: flex;
}
